<nav class="navbar navbar-inverse animated slideInUp">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  routerLinkActive="current active" class="navbar-brand animated slideInLeft" routerLink="">Learn Angular</a>
    </div>
    
    <ul class="nav navbar-nav animated fadeIn">
      <li routerLinkActive="current active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="current active"><a routerLink="/names">Names</a></li>
      <li routerLinkActive="current active"><a routerLink="/email">Emails</a></li>
      <li routerLinkActive="current active"><a routerLink="/pics">Pictures</a></li>
    </ul>
  </div>
</nav>
